name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Test (Ruby ${{ matrix.ruby }} on ${{ matrix.os }})
    timeout-minutes: 5
    strategy:
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '4.0'
        os:
          - ubuntu-latest
          - macos-latest
    env:
      OBJC_DISABLE_INITIALIZE_FORK_SAFETY: YES

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Ruby & Rust
      uses: oxidize-rb/actions/setup-ruby-and-rust@08e22a43e1771991320b75fe2dfb29d8e3f46668
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cargo-cache: false
        bundler: "latest"
        rubygems: "latest"

    - name: Run test
      run: bundle exec rake

  clippy:
    runs-on: ubuntu-latest
    name: Clippy
    timeout-minutes: 5

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Ruby & Rust
        uses: oxidize-rb/actions/setup-ruby-and-rust@4c939d516bd77ec5806f382c9bb574f4634098a7 # v1.4.2
        with:
          bundler-cache: true
          cargo-cache: false
          ruby-version: '3.3'

      - name: Run Clippy
        run: cd ext/watchcat && cargo clippy --no-deps -- -D warnings

  windows:
    runs-on: ${{ matrix.os }}
    name: Test (Ruby ${{ matrix.ruby }} on ${{ matrix.os }})
    timeout-minutes: 5
    strategy:
      matrix:
        ruby:
          - '3.4'
        os:
          - windows-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Ruby & Rust
      uses: oxidize-rb/actions/setup-ruby-and-rust@4c939d516bd77ec5806f382c9bb574f4634098a7
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cargo-cache: false
        bundler: "latest"
        rubygems: "latest"

    - name: Run test
      run: bundle exec rake
